body {
    /* font-family: 'Roboto', Arial, Helvetica, sans-serif;*/
    color: #3e3e3e;
    font-size: 15px;
    font-weight: 400;
    background: #e6e6e8 /*fixed url("/img/background-1.png")*/;
}
.title{
    font-family: 'PT Sans Narrow', sans-serif;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-weight: bold;
    color: #556270;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;
}
.title a{
    color: #556270;
}
.post-content img {
    max-width: 100%;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4
{
    color: #262b34;
}
.container-main{

}
.content-center{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.top-menu{
    margin: 0;
}
.top-menu a{
    /*font-family: sans-serif;*/
    font-weight: bold;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #99B2B7;
    padding: 12px 8px 8px;
}
.top-menu .active a{
    color: #ff6b6b;
}
.top-menu a:hover{
    text-decoration: none;
}
#search-element{
    width: 200px;
    -webkit-transition: width 0.2s ease-out 0.2s;
    -moz-transition: width 0.2s ease-out 0.2s;
    -o-transition: width 0.2s ease-out 0.2s;
    transition: width 0.2s ease-out 0.2s;
}
#search-element:hover{
    width: 500px;
}
.grid-item{
    width: 292px;
}
.footer-logo{
    padding: 5px;
}
.footer-logo img{
    margin-right: 5px;
}
.panel-default {

}
.media img.media-object{
    border: 1px solid #ebebeb;
    border-radius: 47px;
    padding: 2px;
}
.panel-default > .panel-heading {
    background-color: #fbfbfb;
    border-color: #e5e5e5;
}
.panel-footer {
    padding: 5px 10px;
    background-color: #fbfbfb;
    border-color: #efefef;
}
.post-mini .panel-content img{
    max-width: 100%;
    margin-bottom: 5px;
}
.post-mini .panel-content{
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 5px;
}

header {
    background: #f0f0f0;
    z-index: 9999;
    color: #18171b;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-size: 14px;
}
header #header-top {
    padding-bottom: 20px;
    padding-top: 32px;
}
header #header-bottom {
    background: #f9f9f9;
    z-index: 999;
    -moz-transition: box-shadow .8s ease-in-out 0s;
    -webkit-transition: box-shadow .8s ease-in-out 0s;
    -webkit-transition-delay: 0s;
    transition: box-shadow .8s ease-in-out 0s;
}
header #header-bottom #header-main-menu {
    -moz-transition: margin-left .3s ease-out 0s;
    -webkit-transition: margin-left .3s ease-out;
    -webkit-transition-delay: 0s;
    transition: margin-left .3s ease-out 0s;
    -moz-transition: font-size .3s ease-out 0s;
    -webkit-transition: font-size .3s ease-out;
    -webkit-transition-delay: 0s;
    transition: font-size .3s ease-out 0s;
    float: left;
    margin: 0;
    position: relative;
}
header #header-bottom #header-main-menu>li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
header #header-bottom #header-main-menu>li:hover{
    background-color:rgba(0,0,0,0.04);
}
header #header-bottom #header-main-menu>li>a {
    color: #18171b;
    display: inline-block;
    padding: 0 10px 0 17px;
}
header #header-bottom #header-main-menu>li>a:hover{
    text-decoration:none;
}

.l-header-container .hide-logo .signup_link {
    margin-right: 0;
}
.logged-out-header.monochrome .login-button, .logged-out-header.monochrome .signup-button {
    background-color: #fff;
    color: #444;
}
.l-header-container .login-button, .l-header-container .signup-button {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    transition: all .25s cubic-bezier(.165,.84,.44,1),opacity 1ms linear;
}
.logged-out-header .signup_link {
    height: 32px;
    text-align: center;
    vertical-align: top;
}
.logged-out-header .signup-button {
    display: inline-block;
    user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    padding: 6px 13px 4px;
    border-radius: 2px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    border: 1px solid #ffffff;
}

.toggle-0 .toggle-1{
    display: none;
}
.toggle-1 .toggle-0{
    display: none;
}
.social-net-line {
    margin: 5px 0;
    padding: 5px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #efefef;
    font-size: 0;
}
.box-sizing-content *{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.ribbon-icon{
    width: 32px;
    height: 32px;
    margin: -7px -5px -5px;
    display: inline-block;
    border-radius: 50%;
}
.modal-backdrop.in{
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.post-inner-image{
    text-align: center;
    padding: 5px 0 10px;
}
